A personal page with the following data requirements of myself!

- About me
- Education
- Technical 
- Achievements
- Hobbies
- Contact Me

-- Each Page Should Have The Display Picture On THe Left
-- Each Page Will Have A Header File Consiting Of The Navigating Tab To All The Links
-- Each Page Will Have Information About The Respected Field
-- Each Page will have a footer consisting of the different places to follow me 
-- Each Page Should Have A Quote With Respect To The Content